.menu-icon-wrapper {
    width: 18px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.menu-icon {
    position: relative;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    z-index: 25;


        &::before {
            position: absolute;
            left: 0;
            top: -4px;
            content: '';
            width: 18px;
            height: 2px;
            border-radius: 2px;
            background-color: #000;
            transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        }

        &::after {
            position: absolute;
            left: 0;
            top: 4px;
            content: '';
            width: 18px;
            height: 2px;
            border-radius: 2px;
            background-color: #000;
            transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        }
}

.menu-icon.menu-icon-active {
    background-color: transparent;

    &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
}